*.in
*.md
.DS_Store
.env
.flake8
.flaskenv
.git
.github
.gitignore
.idea
.npmrc
.nvmrc
.pre-commit*
.pytest_cache
.python-version
.venv/
.vscode
Dockerfile
docker-compose.yml
docker-password
node_modules/
