aiohttp
appdirs
asyncio
black
CacheControl
flake8
Flask
Flask-Assets
Flask-BasicAuth
Flask-Script
-e git+https://github.com/digital-land/digital-land-frontend.git#egg=digital-land-frontend
gunicorn
itsdangerous
lockfile
MarkupSafe
packaging
playwright
pyparsing
pytest
pytest-playwright
python-dateutil
python-dotenv
six
uvicorn
webassets
Werkzeug
