aiohttp
appdirs
asyncio
black
CacheControl
flake8
Flask==1.1.1
Flask-Assets
Flask-BasicAuth
Flask-Script
-e git+https://github.com/digital-land/digital-land-frontend.git#egg=digital-land-frontend
gunicorn
itsdangerous
Jinja2==2.11.3
libsass
MarkupSafe
packaging
pyparsing
python-dateutil
python-dotenv
six
webassets
Werkzeug
