// import all GOVUK Frontend scss
@import "node_modules/govuk-frontend/govuk/all";

@import "table";

.govuk-link--bold {
    font-weight: bold !important;
}

.dl-cell-date {
    min-width: govuk-em(100, 19);
}

.dl-row--inactive {
    td {
        color: govuk-colour('mid-grey');
    }
}

.govuk-header__link--service-name {
    font-weight: 400;
}
