{% extends "layouts/layout.html" %}
{% block page_title %}Team performance | Maturity Model | Digital Land{% endblock %}


{% block dl_breadcrumbs %}
{% from "govuk-jinja-components/components/back-link/macro.jinja" import govukBackLink -%}
  {{ govukBackLink({
      "text": "Back to page",
      "href": page_url
  }) }}
{% endblock %}

{% block content %}
<main id="content" role="main">
  <span class="govuk-caption-xl">Purpose and information</span>
  <h1 class="govuk-heading-xl">{{ page_title }}</h1>

  {% for user in data %}
  {% if loop.index > 1 %}
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
  {% endif %}
  <div class="govuk-grid-row govuk-!-margin-top-9">
    <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m">User</h2>
    </div>
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body-l">{{ user.user }}</p>
    </div>
  </div>

  <div class="govuk-grid-row govuk-grid-row govuk-!-margin-top-6">
    <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-s">How will this page help the user?</h2>
    </div>
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body">{{ user.why }}</p>
    </div>
  </div>

  <div class="govuk-grid-row govuk-!-margin-top-6">
    <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-s">What questions does the user have?</h2>
    </div>
    <div class="govuk-grid-column-two-thirds">
      {% if user.qs %}
      <h4 class="govuk-heading-s">Questions we are answering</h4>
      <ul class="govuk-list">
        {% for q in user.qs %}
        <details class="govuk-details dl-details--compressed" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              {{ q.question }}
            </span>
          </summary>
          <div class="govuk-details__text">
            {{ q.how }}
          </div>
        </details>
        {% endfor %}
      </ul>
      {% endif %}
      <h4 class="govuk-heading-s">Questions we need to answer</h4>
      <ul class="govuk-list">
        {% for q in user.questions  %}
          <li>{{ q }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% endfor %}
  
</main>
{% endblock %}

{% block bodyEnd %}
{{ super() }}

<script>
  document.addEventListener('keyup', function(e) {
    // are control and alt keys pressed
    if (e.altKey && e.ctrlKey) {
      // if i key is pressed
      if (e.keyCode === 73) {
        window.location.href = window.location.href.replace("/info", "")
      }
    }
  })
</script>

{% endblock %}
