{% extends "layouts/layout.html" %}
{% block page_title %}Team performance | Maturity Model | Digital Land{% endblock %}
{%- from "digital-land-frontend/components/feedback-panel/macro.html" import dlFeedbackPanel %}

{% block content %}
<main id="content" role="main">
  <h1 class="govuk-heading-xl">Digital land team performance</h1>

  <div class="govuk-grid-row govuk-!-margin-bottom-9 govuk-!-margin-top-9">
    <div class="govuk-grid-column-one-quarter">
      <div class="data-item govuk-!-margin-bottom-6">
        <span class="data-item__number govuk-!-font-size-80">{{ high_level_numbers['datasets_with_data'] }}<span class="govuk-!-font-size-19">/{{ datasets|length }}</span></span>
        <p class="govuk-body govuk-!-font-size-36">Datasets</p>
      </div>
    </div>
    <div class="govuk-grid-column-one-quarter">
      <div class="data-item govuk-!-margin-bottom-6">
        <span class="data-item__number govuk-!-font-size-80">{{ high_level_numbers['resources'] }}</span>
        <p class="govuk-body govuk-!-font-size-36">Resources</p>
      </div>
    </div>
    <div class="govuk-grid-column-one-quarter">
      <div class="data-item govuk-!-margin-bottom-6">
        <span class="data-item__number govuk-!-font-size-80">?</span>
        <p class="govuk-body govuk-!-font-size-36">Entities</p>
      </div>
    </div>
    <div class="govuk-grid-column-one-quarter">
      <div class="data-item govuk-!-margin-bottom-6">
        <span class="data-item__number govuk-!-font-size-80">?</span>
        <p class="govuk-body govuk-!-font-size-36">Organisations</p>
      </div>
    </div>
  </div>

  <div class="data-table__wrapper" data-module="data-table">
  <table class="govuk-table">
    <caption class="govuk-table__caption govuk-table__caption--m">Datasets</caption>
    <thead class="govuk-table__head">
      <!-- <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header govuk-\!-width-one-quarter"></th>
        <th scope="col" class="govuk-table__header dl-cell-date"></th>
        <th scope="colgroup" colspan="2" class="govuk-table__header">Publishers</th>
        <th scope="col" class="govuk-table__header dl-cell-date"></th>
        <th scope="col" class="govuk-table__header dl-cell-date"></th>
      </tr>-->
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header govuk-\!-width-one-quarter" aria-sort="none">Name</th>
        <th scope="col" class="govuk-table__header dl-cell-date" aria-sort="none">Started</th>
        <th scope="col" class="govuk-table__header govuk-table__header--numeric" aria-sort="none">Publishers (current/expected)</th>
        <th scope="col" class="govuk-table__header govuk-table__header--numeric" aria-sort="none">Resources</th>
        <th scope="col" class="govuk-table__header govuk-table__header--numeric" aria-sort="none">Days since update</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      {% for dataset in datasets %}
      <tr class="govuk-table__row{{ ' dl-row--inactive' if not dataset.pipeline }}">
        <td scope="row" class="govuk-table__cell" data-sort-value="{{ dataset.name }}">
          <a href="{{ url_for('base.dataset_performance', dataset_name=dataset.name) }}" class="govuk-link govuk-link--bold">{{ dataset.name }}</a>
        </td>
        <td class="govuk-table__cell">{% if dataset['first-collected-resource'] %}
          {{ dataset['first-collected-resource'] }}
        {% elif dataset.pipeline %}
          <strong class="govuk-tag govuk-tag--yellow">No data</strong>
        {% else %}
          <strong class="govuk-tag govuk-tag--grey">Backlog</strong>
        {% endif %}</td>
        <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="{{ dataset['organisations-with-active-resources']|to_int }}">{{ dataset['organisations-with-active-resources'] }} / {{ dataset['organisations-expected-to-publish'] }}</td>
        <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="{{ dataset['total-resources']|to_int }}">{{ dataset['total-resources'] }}</td>
        <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="{{ dataset['days-since-new-resource-added']|to_int }}">{{ dataset['days-since-new-resource-added'] }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

</div>
</main>
{% endblock %}

{% block bodyEnd %}
{{ super() }}
<script src="/static/javascripts/vendor/jquery-3.4.1.min.js"></script>
<script src="/static/javascripts/vendor/MOJFrontend.SortableTable.js"></script>
<script>
(function($) {
    $(function() {
      var tables = $('table')
      console.log(tables[0])
      var sTable = new MOJFrontend.SortableTable({
          table: $('table')[0],
          statusVisible: true,
          tableWrapperSelector: ".data-table__wrapper"
      });
    });
}(jQuery));
</script>  
{% endblock bodyEnd %}
