{% extends "layouts/layout.html" %}
{% block page_title %}Team performance | Maturity Model | Digital Land{% endblock %}
{%- from "digital-land-frontend/components/feedback-panel/macro.html" import dlFeedbackPanel %}

{% block content %}
<main id="content" role="main">
  <h1 class="govuk-heading-xl">Digital land team performance</h1>

  <div class="govuk-grid-row govuk-!-margin-bottom-9 govuk-!-margin-top-9">
    <div class="govuk-grid-column-one-quarter">
      <div class="data-item govuk-!-margin-bottom-6">
        <span class="data-item__number govuk-!-font-size-80">{{ high_level_numbers['datasets_with_data'] }}<span class="govuk-!-font-size-19">/{{ datasets|length }}</span></span>
        <p class="govuk-body govuk-!-font-size-36">Datasets</p>
      </div>
    </div>
    <div class="govuk-grid-column-one-quarter">
      <div class="data-item govuk-!-margin-bottom-6">
        <span class="data-item__number govuk-!-font-size-80">{{ high_level_numbers['resources'] }}</span>
        <p class="govuk-body govuk-!-font-size-36">Resources</p>
      </div>
    </div>
    <div class="govuk-grid-column-one-quarter">
      <div class="data-item govuk-!-margin-bottom-6">
        <span class="data-item__number govuk-!-font-size-80">?</span>
        <p class="govuk-body govuk-!-font-size-36">Entities</p>
      </div>
    </div>
    <div class="govuk-grid-column-one-quarter">
      <div class="data-item govuk-!-margin-bottom-6">
        <span class="data-item__number govuk-!-font-size-80">?</span>
        <p class="govuk-body govuk-!-font-size-36">Organisations</p>
      </div>
    </div>
  </div>

  <table class="govuk-table">
    <caption class="govuk-table__caption govuk-table__caption--m">Datasets</caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header govuk-\!-width-one-quarter">Name</th>
        <th scope="col" class="govuk-table__header dl-cell-date">Started</th>
        <th scope="col" class="govuk-table__header govuk-table__header--numeric">Expected publishing orgs</th>
        <th scope="col" class="govuk-table__header govuk-table__header--numeric">Publishing orgs</th>
        <th scope="col" class="govuk-table__header govuk-table__header--numeric">Resources</th>
        <th scope="col" class="govuk-table__header govuk-table__header--numeric">Days since new data</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      {% for dataset in datasets %}
      <tr class="govuk-table__row{{ ' dl-row--inactive' if not dataset.pipeline }}">
        <td scope="row" class="govuk-table__cell">
          <a href="{{ url_for('base.dataset_performance', dataset_name=dataset.name) }}" class="govuk-link govuk-link--bold">{{ dataset.name }}</a>
        </td>
        <td scope="col" class="govuk-table__cell">{% if dataset.pipeline %}
          {{ dataset['first-collected-resource'] }}
        {% else %}
          <strong class="govuk-tag govuk-tag--grey">Backlog</strong>
        {% endif %}</td>
        <td scope="col" class="govuk-table__cell govuk-table__cell--numeric">{{ dataset['organisations-expected-to-publish'] }}</td>
        <td scope="col" class="govuk-table__cell govuk-table__cell--numeric">{{ dataset['organisations-with-active-resources'] }}</td>
        <td scope="col" class="govuk-table__cell govuk-table__cell--numeric">{{ dataset['total-resources'] }}</td>
        <td scope="col" class="govuk-table__cell govuk-table__cell--numeric">{{ dataset['days-since-new-resource-added'] }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</main>
{% endblock %}

{% block bodyEnd %}
  <script>
    document.addEventListener('keyup', function(e) {
      // are control and alt keys pressed
      if (e.altKey && e.ctrlKey) {
        // if i key is pressed
        if (e.keyCode === 73) {
          window.location.href = window.location.href + "/info"
        }
      }
    })
  </script>
{% endblock %}