.app-maps {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .app-side-by-side,
  .app-side-by-side__details {
    flex: 49%;
  }

  .app-side-by-side:first-of-type .dl-map__wrapper {
    border-right: 4px solid $govuk-border-colour;
  }
}

.app-intersect-update-panel {
  margin-top: 15px;
}

.app-entity-display__publisher {
  display: block;
  @include govuk-font($size: 19);
  color: $govuk-secondary-text-colour;
}

.app-entity-display__properties {
  font-size: 1em;
}

.app-side-by-side__summary {
  @include govuk-font($size: 19);
  //color: $govuk-secondary-text-colour;
  margin: 0 0 15px;
}

.app-side-by-side__controls {
  flex-basis: 100%;
  background: govuk-colour('light-grey');
}
