.app-maps {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .app-side-by-side,
  .app-side-by-side__details {
    flex: 49%;
  }

  .app-side-by-side:first-of-type .dl-map__wrapper {
    border-right: 4px solid $govuk-border-colour;
  }
}

.app-intersect-update-panel {
  margin-top: 15px;
}

.app-entity-display__publisher {
  display: block;
  @include govuk-font($size: 19);
  color: $govuk-secondary-text-colour;
}

.app-entity-display__properties {
  font-size: 1em;
}

.app-side-by-side__summary {
  @include govuk-font($size: 19);
  //color: $govuk-secondary-text-colour;
  margin: 0 0 15px;
}

.app-side-by-side__controls {
  flex-basis: 100%;
  background: govuk-colour('light-grey');
  padding: 10px;
  margin-bottom: 10px;
}

.app-selected-entity {
  border-left: 2px solid $govuk-text-colour;
  padding-left: 10px;
}

.app-map__boundary-zoom {
  z-index: 1002;
  position: absolute;
  top: 15px;
  right: 15px;

  button {
    padding: 5px;
    background: govuk-colour("white");
    border: 0;
    box-shadow: 0 0 3px rgba(11, 12, 12, .8);

    &:hover {
      padding: 4px;
      background: darken(govuk-colour("white"), 2);
      border: 1px solid govuk-colour("dark-grey");
    }
  }
}
