// adding additional item to font scale
$app-typography-scale: (
  60: (
    null: (
      font-size: 48px,
      line-height: 50px
    ),
    tablet: (
      font-size: 60px,
      line-height: 65px
    ),
    print: (
      font-size: 48pt,
      line-height: 1.05
    )
  )
);

$govuk-typography-scale: map-merge($govuk-typography-scale, $app-typography-scale);

.app-\!-font-size-60 {
  @include govuk-font($size: 60, $weight: bold);
}

.app-\!-text-lowercase {
  text-transform: lowercase !important;
}

.govuk-link--bold {
  font-weight: bold !important;
}

.dl-warning-text {
  color: #594d00;
  background: #fff7bf;
}

.dl-error-text {
  color: govuk-shade(govuk-colour("red"), 30);
  background: govuk-tint(govuk-colour("red"), 80);
}

.app-heading--divider {
  padding-bottom: govuk-spacing(2);
  border-bottom: 4px solid govuk-colour(blue);
}
