{% extends "govuk-jinja-components/template.html" %}
{% from "govuk-jinja-components/components/header/macro.jinja" import govukHeader -%}

{% block head %}

  {# for bundle definitions, see assets.py #}

  {% block dl_css %} {# use this block to overwrite to use a local version of the dl css #}
  <link href="https://digital-land.github.io/stylesheets/dl-frontend.css" rel="stylesheet" />
  {% endblock dl_css %}

  {% assets "css_govuk" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
  {% endassets %}

  {% block headEnd %}{% endblock headEnd %}

{% endblock %}

{% block beforeContent %}
	{% include 'digital-land-frontend/partials/dl-prototype-banner.html' %}
	{% block dl_breadcrumbs %}
  {% from "govuk-jinja-components/components/back-link/macro.jinja" import govukBackLink -%}
    {{ govukBackLink({
        "text": "Back to index",
        "href": "/"
    }) }}
  {% endblock %}
{% endblock %}

{% block header %}
<header role="banner" id="global-header" class="govuk-header  with-proposition dl-header" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <div class="header-proposition">
      <div class="govuk-header__content">
        <a href="https://digital-land.github.io/" class="govuk-header__link govuk-header__link--service-name">
        Digital Land
        </a>
        <button type="button" class="govuk-header__menu-button govuk-js-header-toggle" aria-controls="navigation" aria-label="Show or hide Top Level Navigation">Menu</button>
        <span class="dl-header__service-name">Maturity model</span>
      </div>
    </div>
  </div>
</header>
{% endblock %}


{% block footer %}
	{% block feedbackPrompt %}{% endblock feedbackPrompt %}
	{% include 'partials/footer.html' %}
{% endblock %}


{% block body_end %}
  {# js scripts here #}
{% endblock %}
