.app-c-test-grid {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  * {
    box-sizing: border-box;
  }
  &__row {
    display: flex;
    align-items: flex-start;
    padding: 1em 0;
    border-bottom: 1px solid $govuk-border-colour;
    flex-direction: row;
  }

  &__label {
    margin: 1em 0 0 0;
    padding-right: 1em;
    width: 20%;
    @include govuk-font($size: 19, $weight: bold);
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(5, 20%);
    @include govuk-media-query($from: tablet) {
      grid-template-columns: repeat(7, 14.25%);
    }
    flex: 1;
  }

  &__item {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__result {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    @include govuk-font($size: 16, $weight: bold);
    border: 1px solid $govuk-border-colour;
    background: govuk-colour("light-grey");
    line-height: 1.1 !important;
    padding: 0.5em;
    box-sizing: border-box;
    &--pass {
      background: govuk-colour("green");
      color: white;
    }
    &--fail {
      background: govuk-colour("red");
      color: white;
    }

    span:first-of-type {
      flex: 1;
      word-wrap: break-word;
      font-size: 1em;
    }

    &-label {
      word-break: break-all;
      display: inline-block;
      background: rgba(#000, 0.4);
      padding: 0.25em 0.5em;
      color: #fff;
      text-shadow: none;
      font-weight: normal;
      line-height: 1;
      margin-top: 0.5em;
      text-transform: uppercase;
      font-family: monospace;
      font-size: 0.85em;
    }
  }
}
