.app-c-test-grid {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  * {
    box-sizing: border-box;
  }
  &__row {
    display: flex;
    align-items: flex-start;
    padding: 1em 0;
    border-bottom: 1px solid $govuk-border-colour;
    flex-direction: column;
  }

  &__label {
    margin: 0 0 1em 0;
    padding-right: 1em;
    @include govuk-font($size: 19, $weight: bold);
  }

  &__items {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
    grid-auto-rows: auto;
    gap: 1px;
  }

  &__item {
    overflow: hidden;
    position: relative;
    height: 20px;
    .app-c-test-grid__result {
      span {
        display: none;
      }
    }
    &:hover {
      overflow: visible;
      .app-c-test-grid__result {
        span {
          display: block;
        }
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100px;
        height: 100px;
        display: flex;
        transform: translate(-50%, -50%);
        z-index: 1000;
      }
    }

    @for $i from 1 through 12 {
      &:first-child:nth-last-child(#{$i}),
      &:first-child:nth-last-child(#{$i}) ~ .app-c-test-grid__item {
        height: auto;
        min-height: 100px;
        .app-c-test-grid__result {
          span {
            display: block;
          }
        }
        &:hover {
          .app-c-test-grid__result {
            display: flex;
            position: static;
            height: 100%;
            width: auto;
            transform: none;
          }
        }
      }
    }
  }

  &__result {
    cursor: pointer;
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    @include govuk-font($size: 16, $weight: bold);
    border: 1px solid $govuk-border-colour;
    background: govuk-colour("light-grey");
    // line-height: 1.1 !important;
    padding: 0.5em;
    box-sizing: border-box;
    &--pass {
      background: govuk-colour("green");
    }
    &--fail {
      background: govuk-colour("red");
    }

    &--pass,
    &--fail {
      color: white;
      a {
        color: white;
        display: block;
      }
    }

    span:first-of-type {
      flex: 1;
      word-wrap: break-word;
      font-size: 1em;
    }

    &-label {
      word-break: break-all;
      display: inline-block;
      background: rgba(#000, 0.4);
      padding: 0.25em 0.5em;
      color: #fff;
      text-shadow: none;
      font-weight: normal;
      line-height: 1;
      margin-top: 0.5em;
      text-transform: uppercase;
      font-family: monospace;
      font-size: 0.85em;
    }
    &-p--wrap {
      word-break: break-all;
    }
  }
}
