{% extends "layouts/layout.html" %}
{% block page_title %}Flask prototyping index{% endblock %}
{%- from "digital-land-frontend/components/feedback-panel/macro.html" import dlFeedbackPanel %}

{% block dl_breadcrumbs %}
{{ govukBreadcrumbs({
  "items": [
    {
      "text": "Data operations",
      "href": "/"
    },
    {
      "text": "Sources"
    }
  ]
}) }}
{% endblock %}

{% block content %}

<main id="content" role="main">
  <h1 class="govuk-heading-xl">Resources</h1>

  <h2 class="govuk-heading-l">By dataset</h2>
  <ul class="govuk-list">
    {% for dataset in by_dataset %}
    <li>
      <a href="{{ url_for('base.dataset_performance', dataset_name=dataset.pipeline) }}" class="govuk-link">{{ dataset['pipeline']|replace("-", " ")|capitalize }}</a><span class="govuk-!govuk-!-font-size-19">{{ dataset['total'] }}</span>
    </li>
    {% endfor %}
  </ul>
</main>
{% endblock %}

{% block footer %}
<div class="dl-sticky-banner__container" data-module="sticky-banner">
    <div class="dl-sticky-banner">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
              {# need a macro for this bit, param would set the href #}
              <a href="#btt-hook" class="govuk-link govuk-link--no-visited-state back-to-top__link">
                <svg role="presentation" focusable="false" class="back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
                    <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
                </svg>Back to top
              </a>
            </div>
        </div>
    </div>
</div>
{{ super() }}
{% endblock %}

{% block bodyEndScripts %}
{{ super() }}
<script>
  const $bttBanner = document.querySelector('[data-module="sticky-banner"]')
  const bttComponent = new DLFrontend.BackToTop($bttBanner).init({
      endElementSelector: '.govuk-footer',
      startElementSelector: '#btt-hook',
      fixClass: 'dl-sticky-banner--fixed'
  })
</script>
{% endblock bodyEndScripts %}