{% extends "resource/base.html" %}
{% block page_title %}Flask prototyping index{% endblock %}
{%- from "digital-land-frontend/components/feedback-panel/macro.html" import dlFeedbackPanel %}

{% block dl_breadcrumbs %}{% endblock %}

{% block content %}

<main id="content" role="main">
  <h1 class="govuk-heading-xl">Resources</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <div class="data-item govuk-!-margin-bottom-6">
        <span class="data-item__number govuk-!-font-size-80">{{ resource_count }}</span>
        <p class="govuk-body govuk-!-font-size-36">Resources</p>
      </div>
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text dl-small-text">
            What does this tell us?
          </span>
        </summary>
        <div class="govuk-details__text dl-small-text">
          The total number of unique resources digital land have collected, processed and extracted data from.
        </div>
      </details>
    </div>
    <div class="govuk-grid-column-one-third">
      <div class="data-item govuk-!-margin-bottom-6">
        <span class="data-item__number govuk-!-font-size-80">{{ datasets['active']|length }}</span>
        <p class="govuk-body govuk-!-font-size-36">Datasets</p>
      </div>
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text dl-small-text">
            What does this tell us?
          </span>
        </summary>
        <div class="govuk-details__text dl-small-text">
          The number of datasets the {{ resource_count }} resources cover. Some national datasets, such as Heritage Coast, will have very few resources. We will only collect new ones when there has been an update. Potentially, only once a year. However, there will be other datasets, such as Brownfield land, where we collect many more resources. This is because to make a national dataset we need to collect resources from the 360+ publishers and any one of these publishers can update their data at any time.
        </div>
      </details>
    </div>
    <div class="govuk-grid-column-one-third">
      <div class="data-item govuk-!-margin-bottom-6">
        <span class="data-item__number govuk-!-font-size-80">{{ content_type_counts|length }}</span>
        <p class="govuk-body govuk-!-font-size-36">Content types</p>
      </div>
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text dl-small-text">
            What does this tell us?
          </span>
        </summary>
        <div class="govuk-details__text dl-small-text">
          The higher the number of different content-types, the more variety there is in the types of resource we have to process. It is easier to process, extract and combine data from the same type of resource.
        </div>
      </details>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-l">By dataset</h2>
      <ul class="govuk-list">
        {% for dataset in by_dataset %}
        <li>
          <a href="{{ url_for('base.dataset_performance', dataset_name=dataset.pipeline) }}" class="govuk-link">{{ dataset['pipeline']|replace("-", " ")|capitalize }}</a><span class="govuk-!govuk-!-font-size-19">{{ dataset['total'] }}</span>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body results-summary">Showing {{ resources|length }} of {{ resource_count }} resource{{ "" if resource_count == 1 else "s" }}</p>
      <ul class="govuk-list">
      {% for resource in resources %}
        <li><a href="{{ url_for('base.resource', resource=resource.resource) }}">{{ resource.resource }}</a></li>
      {% endfor %}
      </ul>
    </div>
  </div>

  
</main>
{% endblock %}

{% block footer %}
<div class="dl-sticky-banner__container" data-module="sticky-banner">
    <div class="dl-sticky-banner">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
              {# need a macro for this bit, param would set the href #}
              <a href="#btt-hook" class="govuk-link govuk-link--no-visited-state back-to-top__link">
                <svg role="presentation" focusable="false" class="back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
                    <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
                </svg>Back to top
              </a>
            </div>
        </div>
    </div>
</div>
{{ super() }}
{% endblock %}

{% block bodyEndScripts %}
{{ super() }}
<script>
  const $bttBanner = document.querySelector('[data-module="sticky-banner"]')
  const bttComponent = new DLFrontend.BackToTop($bttBanner).init({
      endElementSelector: '.govuk-footer',
      startElementSelector: '#btt-hook',
      fixClass: 'dl-sticky-banner--fixed'
  })
</script>
{% endblock bodyEndScripts %}