{% extends "layouts/layout.html" %}
{% block page_title %}Flask prototyping index{% endblock %}
{%- from "digital-land-frontend/components/feedback-panel/macro.html" import dlFeedbackPanel %}

{% block dl_breadcrumbs %}{% endblock %}

{% block content %}

<main id="content" role="main">
  <h1 class="govuk-heading-xl">Organisations</h1>
  <p class="govuk-body">A place to see who has published what.</p>

  <p id="btt-hook" class="govuk-body">The following organisations have published some data we have been able to collect.</p>

  {% for type_ in publishers.keys() %}
  <div class="govuk-grid-row org-count">
    <div class="govuk-grid-column-one-third">
    {% if publishers[type_].keys()|length == 1 %}
     {% set are = "is" %}
   {% else %}
     {% set are = "are" %}
   {% endif %}
    <h2 class="govuk-heading-m org-count__name" id="{{type_|replace(' ', '-')}}">{{ type_ }}</h2>
    <div class="org-count__wrapper">
      <p class="govuk-visually-hidden">There {{are}}
        <span class="js-accessible-list-count">{{ publishers[type_].keys()|length }}</span>
        {{ type_ }}
      </p>
      <span class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-80 js-list-count" aria-hidden="true">{{ publishers[type_].keys()|length }}</span>
    </div>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <ol class="org-list" data-filter="list">
    {% for organisation in publishers[type_].keys()|sort(attribute='name') %}
      {% set org_dict = publishers[type_][organisation] %}
      {# shouldn't be more than one org per key so just select it #}
      {% set org = org_dict['organisation'][0] %}
      {% set prefix = org['organisation'].split(":")[0] %}
      {% set org_id = org['organisation'].split(":")[1] %}
      <li class="org-list__item" data-filter="item" data-org-id="{{ org['organisation'] }}">
        <a href="{{ url_for('base.organisation_performance', prefix=prefix, org_id=org_id) }}" class="govuk-link org-list__item-title">{{org["name"]}}</a>
        {% if org['end-date'] and org['end-date'] < today  %}
        <strong class="govuk-tag govuk-tag--grey">
          Dissolved
        </strong>
        {% endif %}
        <dl class="govuk-grid-row def-list--basic dl-secondary-text dl-small-text govuk-!-margin-top-1">
          <div class="govuk-grid-column-one-half">
            <dt>Total resources</dt>
            <dd>{{ org_dict['resources']['total'] }}</dd>
          </div>
          <div class="govuk-grid-column-one-half">
            <dt>Active resources</dt>
            <dd>{{ org_dict['resources']['active'] }}</dd>
          </div>
        </dl>
      </li>
    {% endfor %}
    </ol>
  </div>
</div>
{% endfor %}
  

</main>
{% endblock %}

{% block footer %}
<div class="dl-sticky-banner__container" data-module="sticky-banner">
    <div class="dl-sticky-banner">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
              {# need a macro for this bit, param would set the href #}
              <a href="#btt-hook" class="govuk-link govuk-link--no-visited-state back-to-top__link">
                <svg role="presentation" focusable="false" class="back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
                    <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
                </svg>Back to top
              </a>
            </div>
        </div>
    </div>
</div>
{{ super() }}
{% endblock %}

{% block bodyEndScripts %}
{{ super() }}
<script>
  const $bttBanner = document.querySelector('[data-module="sticky-banner"]')
  const bttComponent = new DLFrontend.BackToTop($bttBanner).init({
      endElementSelector: '.govuk-footer',
      startElementSelector: '#btt-hook',
      fixClass: 'dl-sticky-banner--fixed'
  })
</script>
<script src="/static/js/test.js"></script>
{% endblock bodyEndScripts %}