{% extends "digital-land-frontend/layouts/base--full-width.jinja" %}

{% set includesMap = true %}
{% block pageTitle %}National map of planning data | Digital Land{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="/static/stylesheets/application.css">
{% endblock %}

{%- block headEnd %}
<script src="https://unpkg.com/maplibre-gl@1.14.0-rc.1/dist/maplibre-gl.js"></script>
<link href="https://unpkg.com/maplibre-gl@1.14.0-rc.1/dist/maplibre-gl.css" rel="stylesheet" />

<style>
  .dl-map__side-panel__content,
  .dl-popup-list {
    overflow-y: auto;
    overflow-x: auto;
    /*-ms-overflow-style: none; /* for Internet Explorer, Edge */
    /*scrollbar-width: none; /* for Firefox */
  }

  .dl-popup-list::-webkit-scrollbar {
    /*display: none; /* for Chrome, Safari, and Opera */
  }
</style>
{% endblock -%}

{% block mastHead %}
<header class="govuk-header app-light-header" role="banner" data-module="govuk-header">
  <div class="govuk-header__container dl-container--full-width">
    <div class="app-header__content">
        <span class="app-header__team-name">
          <a href="https://digital-land.info" class="govuk-header__link govuk-header__link--homepage">
            <span class="govuk-header__logotype-text">
            Digital Land
            </span>
          </a>
        </span>
        <a href="/" class="govuk-header__link govuk-header__link--homepage">
          <span class="govuk-header__product-name">
            Operations dashboard
          </span>
        </a>
        <strong class="govuk-tag govuk-phase-banner__content__tag app-header__tag">
          spike
        </strong>
      </a>
    </div>
  </div>
</header>
{% endblock %}

{% block phaseBanner %}{% endblock %}

{% block content %}

<h1 class="govuk-heading-l">Publisher: <a class="govuk-link govuk-link--no-visited-state" href="/organisation/local-authority-eng/LBH">{{ organisation['name'] }}</a></h1>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<p class="govuk-heading-l">Dataset: <a class="govuk-link govuk-link--no-visited-state" href="">conservation-area</a></p>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<div class="app-maps">

  <div class="app-side-by-side">
    <h2 class="govuk-heading-m">Entities published by publisher</h2>
  
    <div class="dl-map__wrapper" style="min-height: 700px;">
      {% include 'partials/zoom-controls.html' %}

      {% macro layerControlItem(layer) %}
      <li class="dl-map__layer-item govuk-!-margin-bottom-2" data-layer-control="{{ layer.dataset }}" 
      {% if layer.type %}data-layer-data-type={{layer.type}}{% endif %} 
      {% if layer.paint_options %}data-style-options="{{ layer.paint_options.colour }},{{ layer.paint_options.opacity }}"{% endif %}>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="{{ layer.dataset }}" name="{{ layer.dataset }}" type="checkbox" value="{{ layer.dataset }}" {{ "checked='checked'" if layer.checked }}>
          <label class="govuk-label govuk-checkboxes__label" for="{{ layer.dataset }}">
            <span class="dl-label__key">
              <span class="dl-label__key__symbol{{ ' dl-label__key__symbol--circle' if layer.type and layer.type == 'point' }}"
              style="border-color: {{layer.paint_options.colour|default('#003078')}}; background: rgba({{layer.paint_options.colour|default('#003078')|hex_to_rgb}},{{ layer.paint_options.opacity|default('0.5') }});"></span>
              {{ layer.label }}
            </span>
          </label>
        </div>
      </li>
      {% endmacro %}

      <div id="mapid" class="dl-map" aria-labelledby="aria-label-national-map"></div>
      <div class="dl-map__side-panel dl-map__side-panel--full js-hidden" tabindex="-1" role="dialog" aria-hidden="false" open="true" aria-modal="true">
        <div class="dl-map__side-panel__heading">
          <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Data layers</h3>
        </div>
        <div class="dl-map__side-panel__content">
          <ul class="govuk-list govuk-!-margin-bottom-0" data-module="layer-controls">
            <li class="dl-map__layer-item govuk-!-margin-bottom-2" data-layer-control="local-authority-district" data-style-options="#0b0c0c,0.1" data-layer-control-active="true">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="local-authority-district" name="local-authority-district" type="checkbox" value="local-authority-district" checked=checked>
                  <label class="govuk-label govuk-checkboxes__label" for="local-authority-district">
                    <span class="dl-label__key">
                      <span class="dl-label__key__symbol" style="border-color: #0b0c0c; background: rgba(11,12,12,0.1);"></span>
                      Local authority district
                    </span>
                  </label>
                </div>
            </li>
            <h3 class="govuk-heading-s">Published by local authority</h3>
            {% for layer in organisation['dataset_settings'] %}
            {{ layerControlItem(layer) }}
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>

    <div class="app-intersect-update-panel"></div>
  </div>

  <div class="app-side-by-side">
    <h2 class="govuk-heading-m">Entities intersecting publisher boundary</h2>

    <div class="dl-map__wrapper" style="min-height: 700px;">

      {% include 'partials/zoom-controls.html' %}

      {% macro layerControlItem(layer) %}
      <li class="dl-map__layer-item govuk-!-margin-bottom-2" data-layer-control="{{ layer.dataset }}" 
      {% if layer.type %}data-layer-data-type={{layer.type}}{% endif %} 
      {% if layer.paint_options %}data-style-options="{{ layer.paint_options.colour }},{{ layer.paint_options.opacity }}"{% endif %}>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="{{ layer.dataset }}" name="{{ layer.dataset }}" type="checkbox" value="{{ layer.dataset }}" {{ "checked='checked'" if layer.checked }}>
          <label class="govuk-label govuk-checkboxes__label" for="{{ layer.dataset }}">
            <span class="dl-label__key">
              <span class="dl-label__key__symbol{{ ' dl-label__key__symbol--circle' if layer.type and layer.type == 'point' }}"
              style="border-color: {{layer.paint_options.colour|default('#003078')}}; background: rgba({{layer.paint_options.colour|default('#003078')|hex_to_rgb}},{{ layer.paint_options.opacity|default('0.5') }});"></span>
              {{ layer.label }}
            </span>
          </label>
        </div>
      </li>
      {% endmacro %}

      <div id="mapid2" class="dl-map" aria-labelledby="aria-label-national-map"></div>
      <div class="dl-map__side-panel dl-map__side-panel--full js-hidden" tabindex="-1" role="dialog" aria-hidden="false" open="true" aria-modal="true">
        <div class="dl-map__side-panel__heading">
          <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Data layers</h3>
        </div>
        <div class="dl-map__side-panel__content">
          <ul class="govuk-list govuk-!-margin-bottom-0" data-module="layer-controls">
            <li class="dl-map__layer-item govuk-!-margin-bottom-2" data-layer-control="local-authority-district" data-style-options="#0b0c0c,0.1" data-layer-control-active="true">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="local-authority-district" name="local-authority-district" type="checkbox" value="local-authority-district" checked=checked>
                  <label class="govuk-label govuk-checkboxes__label" for="local-authority-district">
                    <span class="dl-label__key">
                      <span class="dl-label__key__symbol" style="border-color: #0b0c0c; background: rgba(11,12,12,0.1);"></span>
                      Local authority district
                    </span>
                  </label>
                </div>
            </li>
            <h3 class="govuk-heading-s">Published by local authority</h3>
            {% for layer in organisation['dataset_settings'] %}
            {{ layerControlItem(layer) }}
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>

    <div class="app-intersect-update-panel"></div>
  </div>

</div>

{% endblock %}

{% block feedbackPrompt %}
    {%- from "digital-land-frontend/components/feedback/macro.html" import dlFeedback %}
    {{ dlFeedback({
        "text": "Spotted an issue? Let us know so we can improve the map.",
        "action": {
            "text": "There is something wrong with the map",
            "href": "mailto:DigitalLand@communities.gov.uk"
        },
        "container": true
        })
    }}
{% endblock %}

{% block bodyEnd %}
{{ super() }}
<script src='https://unpkg.com/@turf/turf@6.3.0/turf.min.js'></script>
<script src="{{ assetPath|default('/static') }}/javascripts/organisation-map-controller.js"></script>
<script src="{{ assetPath|default('/static') }}/javascripts/app-map.js"></script>

<script>

  function createElement(tag, classes, text) {
    var $el = document.createElement(tag);
    $el.classList.add(...classes);
    $el.textContent = text;
    return $el
  }

  function displayEntityDetails(features, $container) {
    $container.innerHTML = '';
    features.forEach(function(feature) {
      $entity = createElement("h5", ["govuk-heading-s", "govuk-!-margin-bottom-1"], feature.properties.entity)
      $container.appendChild($entity)
      let entityName = "No name provided"
      if (feature.properties.hasOwnProperty('name')) {
        entityName = feature.properties['name']
      }
      $name = createElement("p", ["govuk-body"], entityName)
      $publisher = createElement("span", ["app-entity-display__publisher"], "from " + feature.properties['organisation-name'])
      $name.appendChild($publisher)
      $container.appendChild($name)
    })
  }

  const entityDisplayPanels = Array.prototype.slice.call(document.querySelectorAll(".app-intersect-update-panel"))

  // grab html elements
  const $controlsList = document.querySelector('[data-module="layer-controls"]')
  const $zoomMods = Array.prototype.slice.call(document.querySelectorAll('[data-module="zoom-controls"]'))
  console.log($zoomMods)

  const organisationId = "local-authority-eng:LBH";
  const organisationEntity = '192';
  const organisationName = "London Borough of Lambeth"
  const statGeography = "E09000022";
  const datasets = [{'dataset': 'brownfield-land', 'type': 'point'}, {'dataset': 'conservation-area', 'type': 'polygon'}];
  // init national map
  // const mapController = new OrgMapController($controlsList, $zoomMods[0], datasets, organisationName, statGeography).init({
  //   baseTileStyleFilePath: "https://api.maptiler.com/maps/918166e5-9890-4e18-8f18-4ef96be1a2d4/style.json?key=kira3KM2jYGvDA4xNkYt"
  // })

  const publisherMapOnLoad = function (map) {
    const filter = ['==', 'organisation-entity', organisationEntity]
    map.createDatasetLayers('conservation-area', "polygon", filter)

    let flownTo = false
    map.map.on('sourcedata', function (e) {
      console.log("publisher map source data")
      if (!flownTo) {
        if (map.map.getSource('dl-vectors') && map.map.isSourceLoaded('dl-vectors')) {
          var features = map.flyToDataset('conservation-area', filter, {returnFeatures: true})

          if (features.length) {
            flownTo = true;
          }
        }
      }
    });
  }

  const publisherMap = new AppMap('mapid', $zoomMods[0]).init({
    baseTileStyleFilePath: "https://api.maptiler.com/maps/918166e5-9890-4e18-8f18-4ef96be1a2d4/style.json?key=kira3KM2jYGvDA4xNkYt",
    onLoadCallback: publisherMapOnLoad
  })

  publisherMap.addClickListener(function (e) {
    var bbox = [[e.point.x - 5, e.point.y - 5], [e.point.x + 5, e.point.y + 5]];
    const features = this.intersectBBox(bbox, ['conservation-areaFill'])
    displayEntityDetails(features, entityDisplayPanels[0]);
  })

  // =============================
  // Map for entities not by org
  // =============================
  const entities_not_by_publisher = {{entities_not_by_publisher|tojson }};
  const nonPublisherMapOnLoad = function(map) {
    // display publisher boundary
    map.createDatasetLayers('local-authority-district', "polygon", ['==', 'reference', statGeography], {
      style: {
        colour: "#5694ca",
        opacity: 0.3,
        weight: 1
      }
    })

    // display conservation areas intersecting with boundary
    const filter = ['match', ['get', 'entity'], entities_not_by_publisher, true, false]
    map.createDatasetLayers('conservation-area', "polygon", filter)

    // only want conservation areas to be clickable
    map.setClickableLayers(['conservation-areaFill'])

    // enable highlights
    map.highlightFeaturesOn()

    let flownTo = false
    map.map.on('sourcedata', function (e) {
      if (!flownTo) {
        if (map.map.getSource('dl-vectors') && map.map.isSourceLoaded('dl-vectors')) {
          var features = map.flyToDataset('conservation-area', filter, {returnFeatures: true})

          if (features.length) {
            flownTo = true;
          }
        }
      }
    });
  }

  const intersectMap = new AppMap('mapid2', $zoomMods[1]).init({
    baseTileStyleFilePath: "https://api.maptiler.com/maps/918166e5-9890-4e18-8f18-4ef96be1a2d4/style.json?key=kira3KM2jYGvDA4xNkYt",
    onLoadCallback: nonPublisherMapOnLoad,
    styleProperties: {
      colour: '#d4351c',
      opacity: 0.5,
      weight: 2
    }
  })

  intersectMap.addClickListener(function (e) {
    var bbox = [[e.point.x - 5, e.point.y - 5], [e.point.x + 5, e.point.y + 5]];
    const features = this.intersectBBox(bbox, ['conservation-areaFill'])
    displayEntityDetails(features, entityDisplayPanels[1]);
  })


  // intersectMap.createDatasetLayers('conservation-area', "polygon", ['match', ['get', 'entity'], [3020793, 3032311], true, false])

</script>
{% endblock %}