{% macro organisationLists(params) %}
  <form class="filter-organisations-list__form filter-organisations-list__form--active govuk-!-margin-bottom-2" data-filter="form">
    <label class="dl-list-filter__label govuk-label govuk-!-font-weight-bold dl-form-label--inline" for="filter-organisations-list">I'm looking for</label>
    <input class="dl-list-filter__input govuk-input" type="text" id="filter-organisations-list" placeholder="For example, Office for National Statistics">
  </form>

  <dl class="govuk-summary-list govuk-!-margin-bottom-9">
    <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
      <dt class="govuk-summary-list__key">
        Jump to straight to
      </dt>
      <dd class="govuk-summary-list__value">
        {% for type_ in params.publishers.keys() -%}
        <a href="#{{type_|lower|replace(' ', '-')}}">{{ type_ }}</a>{{ ", " if not loop.last else "" }}
        {% endfor %}
      </dd>
    </div>
  </dl>

  {% for type_ in publishers.keys() %}
  <div class="govuk-grid-row dl-list-filter__count">
    <div class="govuk-grid-column-one-third">
    {% if publishers[type_].keys()|length == 1 %}
     {% set are = "is" %}
   {% else %}
     {% set are = "are" %}
   {% endif %}
    <h2 class="govuk-heading-m dl-list-filter__count__name" id="{{type_|lower|replace(' ', '-')}}">{{ type_ }}</h2>
    <div class="dl-list-filter__count__wrapper">
      <p class="govuk-visually-hidden">There {{are}}
        <span class="js-accessible-list-filter__count">{{ publishers[type_].keys()|length }}</span>
        {{ type_ }}
      </p>
      <span class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-80 js-list-filter__count" aria-hidden="true">{{ publishers[type_].keys()|length }}</span>
    </div>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <ol class="dl-list-filter__list" data-filter="list">
    {% for organisation in publishers[type_].keys()|sort() %}
      {% set publisher = publishers[type_][organisation] %}
      {# shouldn't be more than one org per key so just select it #}
      {% set prefix = publisher['organisation'].split(":")[0] %}
      {% set org_id = publisher['organisation'].split(":")[1] %}
      <li class="dl-list-filter__item govuk-grid-row" data-filter="item" data-org-id="{{ publisher['organisation'] }}">
        <a href="{{ url_for('base.organisation_performance', prefix=prefix, org_id=org_id) }}" class="govuk-link dl-list-filter__item-title">{{publisher["name"]}}</a>
        {% if publisher['organisation_end_date'] and publisher['organisation_end_date'] < today  %}
        <strong class="govuk-tag govuk-tag--grey">
          Dissolved
        </strong>
        {% endif %}
        <dl class="app-def-list--basic dl-secondary-text dl-small-text govuk-!-margin-top-1">
          <div class="govuk-grid-column-one-third govuk-!-padding-left-0">
            <dt>Datasets</dt>
            <dd>{{ publisher['pipelines'] }}</dd>
          </div>
          <div class="govuk-grid-column-one-third">
            <dt>Total resources</dt>
            <dd>{{ publisher['resources'] }}</dd>
          </div>
          <div class="govuk-grid-column-one-third{{ ' dl-warning-text' if publisher['active'] != publisher['pipelines'] }}"{% if publisher['active'] != publisher['pipelines'] %} title="More active resources than datasets covered"{% endif %}>
            <dt>Active resources</dt>
            <dd>{{ publisher['active'] }}</dd>
          </div>
        </dl>
      </li>
    {% endfor %}
    </ol>
  </div>
</div>
{% endfor %}
<div class="js-no-filter-list-matches">
  <p class="govuk-body">No publisher matches the search term you have entered.</p>
  <p class="govuk-body">That could be because we do not recognise the name you have entered OR we have not collected any data from the organisation.</p>
</div>
{% endmacro %}