{% extends "layouts/layout.html" %}
{% block page_title %}Brownfield land | Dataset performance | Maturity Model | Digital Land{% endblock %}
{%- from "digital-land-frontend/components/feedback-panel/macro.html" import dlFeedbackPanel %}
{%- from "tables/org-dataset-table.html" import datasetTable %}

{% block content %}
<main id="content" role="main">
  <span class="govuk-caption-xl">Organisation performance</span>
  <h1 class="govuk-heading-xl">{{ organisation.name|default('Unknown') }}</h1>

  <div class="govuk-grid-row govuk-!-margin-bottom-9 govuk-!-margin-top-9">
    <div class="govuk-grid-column-one-quarter">
      <div class="data-item govuk-!-margin-bottom-6">
        <span class="data-item__number govuk-!-font-size-80">{{ data['datasets_covered']|length }}<span class="govuk-!-font-size-19"></span></span>
        <p class="govuk-body govuk-!-font-size-36">Datasets</p>
      </div>
    </div>
    <div class="govuk-grid-column-one-quarter">
      <div class="data-item govuk-!-margin-bottom-6">
        <span class="data-item__number govuk-!-font-size-80">{{ data['resources']|length }}</span>
        <p class="govuk-body govuk-!-font-size-36">Total resources</p>
      </div>
    </div>
  </div>

  {% if organisation.organisation != 'local-authority-eng:ESK' %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body">This is a prototype. Currently, we don't have the data for {{ organisation.name|default('Unknown') }}.</p>
      <h3 class="govuk-heading-s">Where to go next?</h3>
      <p class="govuk-body"><a href="{{ url_for('base.organisation_performance', prefix='local-authority-eng', org_id='ESK') }}" class="govuk-link">East Suffolk</a> is a more complete example.</p>
    </div>
  </div>
  {% else %}
  {% if datasets.current|length %}
    {{ datasetTable({
        "datasets": datasets.current,
        "caption": "Datasets with active resource"
        })
    }}
  {% endif %}

  {% if datasets.nocurrent|length %}
    {{ datasetTable({
      "datasets": datasets.nocurrent,
      "caption": "Datasets with no active resource"
      })
    }}
  {% endif %}
  
  {% if datasets.missing|length %}
    {{ datasetTable({
      "datasets": datasets.missing,
      "caption": "Datasets with no resources"
      })
    }}
  {% endif %}
  
  {% endif %}

</main>
{% endblock %}

{% block bodyEnd %}
{{ super() }}
<script>
  console.log('organisation obj', {{ organisation|tojson }})
</script>
{% endblock bodyEnd %}
