{% extends "resource/base.html" %}
{% block page_title %}Flask prototyping index{% endblock %}


{% block dl_breadcrumbs %}
{{ govukBreadcrumbs({
  "items": [
    {
      "text": "Logs"
    }
  ]
}) }}
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% if date %}
  <span class="govuk-caption-xl">Logs</span>
  <h2 class="govuk-heading-l">{{ date }}</h2>
  {% else %}
  <h2 class="govuk-heading-l">Logs</h2>
  {% endif %}
  
  <h3 class="govuk-heading-m">Summary</h3>

  <p class="govuk-body">On {{ date if date else yesterday }} digital land attempt to collect data from {{ endpoint_count }} endpoint{{ '' if endpoint_count == 1 else 's' }}. The following statuses were recorded.</p>

  {% if summary|length %}
  <ul class="govuk-list">
    <li><span class="dl-secondary-text govuk-!-margin-bottom-1">Key (status: count)</span></li>
    {% for status in summary %}
      {% if status.status == "" %}
        <span class="dl-secondary-text">No status recorded</span>: {{ status.count }}
      {% else %}
      <li>{{ status.status }}: {{ status.count }}</li>
      {% endif %}
    {% endfor %}
  </ul>
  {% else %}
  <div class="govuk-inset-text app-inset-text--error">No log results for this date.</div>
  {% endif %}

  {% if resources|length %}
  <h3 class="govuk-heading-m">New resources</h3>
  <ul class="govuk-list govuk-list--bullet">
    {% for resource in resources %}
      <li><a href="{{ url_for('base.resource', resource=resource.resource) }}" class="govuk-link">{{ resource.resource }}</a></li>
    {% endfor %}
  </ul>
  {% endif %}

  {% if not date %}
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  <form>
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" role="group" aria-describedby="log-date-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
          <h1 class="govuk-fieldset__heading">
            What date do you want to see the logs for?
          </h1>
        </legend>
        <div id="log-date-hint" class="govuk-hint">
          For example, 27 3 2021
        </div>
        <div class="govuk-date-input" id="log-date">
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="log-date-day">
                Day
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="log-date-day" name="log-date-day" type="text" pattern="[0-9]*" inputmode="numeric"></div>
          </div>
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="log-date-month">
                Month
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="log-date-month" name="log-date-month" type="text" pattern="[0-9]*" inputmode="numeric"></div>
          </div>
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="log-date-year">
                Year
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="log-date-year" name="log-date-year" type="text" pattern="[0-9]*" inputmode="numeric"></div>
          </div>
        </div>
    
      </fieldset>
    </div>

    <button class="govuk-button" data-module="govuk-button" type="submit">
      Find logs
    </button>
  </form>
  {% endif %}

</main>
{% endblock %}

{% block pageScripts %}
{{ super() }}
<script>
  console.log('summary object', {{ summary|tojson }})
</script>
{% endblock pageScripts %}



