{% extends "layouts/layout.html" %}

{% block primaryNav %}
{{ primaryNavigation({
    "items": [
        {
            "text": "Overview",
            "href": url_for('base.performance')
        },
        {
            "text": "Datasets",
            "href": url_for('dataset.datasets')
        },
        {
            "text": "Organisations",
            "href": url_for('publisher.organisation')
        },
        {
            "text": "Sources",
            "href": url_for('base.sources'),
            "active": True
        },
        {
            "text": "Resources",
            "href": url_for('base.resources')
        },
        {
            "text": "Logs",
            "href": url_for('base.logs')
        },
        {
            "text": "Data tests",
            "href": url_for('ripa.index')
        },
    ]
})
}}
{% endblock primaryNav %}
