{% extends "source/base.html" %}
{% block page_title %}Sources | Operations dashboard | Digital Land{% endblock %}
{%- from "digital-land-frontend/components/feedback-panel/macro.html" import dlFeedbackPanel %}

{% block dl_breadcrumbs %}{% endblock %}

{% block content %}

<main id="content" role="main">
  <h1 class="govuk-heading-xl">Sources</h1>

  <div class="govuk-grid-row govuk-!-margin-bottom-9">
    <div class="govuk-grid-column-one-quarter">
      <div class="data-item govuk-!-margin-bottom-6">
        <span class="data-item__number govuk-!-font-size-80">{{ counts['sources'] }}</span>
        <p class="govuk-body govuk-!-font-size-36">Total sources</p>
      </div>
    </div>
    <div class="govuk-grid-column-one-quarter">
      <div class="data-item govuk-!-margin-bottom-6">
        <span class="data-item__number govuk-!-font-size-80">{{ counts['inactive'] }}</span>
        <p class="govuk-body govuk-!-font-size-36">Old sources</p>
      </div>
    </div>
    <div class="govuk-grid-column-one-quarter">
      <div class="data-item govuk-!-margin-bottom-6">
        <span class="data-item__number govuk-!-font-size-80">{{ counts['pipelines'] }}</span>
        <p class="govuk-body govuk-!-font-size-36">Datasets</p>
      </div>
    </div>
  </div>

  {% if pipeline %}
  <h2 class="govuk-heading-m">Sources</h2>
  <p class="govuk-body">Showing for {{ pipeline|replace("-", " ")}}</p>
  <ul class="govuk-list">
    {% for source in sources %}
    <li>
      <a href="{{ url_for('base.source', source=source.source) }}" class="govuk-link">{{ source.source }}</a>
      <span class="govuk-!-font-size-19"> for {{ source.name }}</span>
    </li>
    {% endfor %}
  </ul>
  {% else %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m">Filters</h2>
      <!-- filter by dataset -->
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            By dataset
          </span>
        </summary>
        <div class="govuk-details__text">
          <ul class="govuk-list">
            {% for dataset in by_dataset %}
            <li>
              <a href="{{ url_for('base.sources', pipeline=dataset.pipeline) }}" class="govuk-link">{{ dataset['pipeline']|replace("-", " ")|capitalize }}</a><span class="govuk-!govuk-!-font-size-19"> ({{ dataset['active_sources'] }})</span>
            </li>
            {% endfor %}
          </ul>
        </div>
      </details>

      <!-- filter by organisation -->
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            By organisation
          </span>
        </summary>
        <div class="govuk-details__text">
          <ul class="govuk-list">
            {% for organisation in organisations %}
            <li>
              <a href="{{ url_for('base.sources', organisation=organisation['organisation']) }}" class="govuk-link">{{ organisation['name'] }}</a><span class="govuk-!govuk-!-font-size-19"> ({{ organisation['sources'] }})</span>
            </li>
            {% endfor %}
          </ul>
        </div>
      </details>
    </div>
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body results-summary">Showing {{ sources|length }} source{{ "" if total_results == 1 else "s" }}{% if sources|length == 100 %} (limited to 100 most recently added){% endif %}</p>
      <div class="govuk-inset-text">
        This list only shows sources that have an endpoint.
      </div>
      {% if filters -%}
      <div class="applied-filters">
        <div class="applied-filter__group">
          <span class="applied-filter__name govuk-!-font-weight-bold">Filter:</span>
          {% for filter in filter_btns %}
          <span class="applied-filter__item">
            <a href="{{ url_for('base.sources', **filter['url_params']) }}" class="govuk-link">x<span class="govuk-visually-hidden">remove filtering by {{ filter['value'] }}</span></a>
            {{ filter['value'] }}
          </span>
          {% endfor %}
        </div>
      </div>
      {% endif %}
      <ul class="govuk-list">
        {% for source in sources %}
        <li class="data-record app-card govuk-!-margin-bottom-3">
          <div class="data-record__identifier">
            <h4 class="govuk-heading-s govuk-!-margin-bottom-0">
            Source <a href="{{ url_for('base.source', source=source['source']) }}">{{ source['source'] }}</a></h4>
            {%- if source['end_date'] or source['documentation_url'] == "" -%}
            <div class="app-card__flags govuk-!-margin-top-1">
              {% if source['end_date'] %}<span class="govuk-tag govuk-tag--grey">Historical</span>{% endif %}
              {% if source['documentation_url'] == "" %}<span class="govuk-tag govuk-tag--yellow">No documentation url</span>{% endif %}
            </div>
            {% endif -%}
          </div>
          <dl class="govuk-summary-list data-record__properties app-card__properties govuk-!-margin-bottom-0">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Organisation</dt>
              <dd class="govuk-summary-list__value">{{ source['name'] }}</dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Dataset</dt>
              <dd class="govuk-summary-list__value">{{ source['pipeline'] }}</dd>
            </div>
          </dl>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% endif %}
  
</main>
{% endblock %}

{% block footer %}
<div class="dl-sticky-banner__container" data-module="sticky-banner">
    <div class="dl-sticky-banner">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
              {# need a macro for this bit, param would set the href #}
              <a href="#btt-hook" class="govuk-link govuk-link--no-visited-state back-to-top__link">
                <svg role="presentation" focusable="false" class="back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
                    <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
                </svg>Back to top
              </a>
            </div>
        </div>
    </div>
</div>
{{ super() }}
{% endblock %}

{% block bodyEndScripts %}
{{ super() }}
<script>
  const $bttBanner = document.querySelector('[data-module="sticky-banner"]')
  const bttComponent = new DLFrontend.BackToTop($bttBanner).init({
      endElementSelector: '.govuk-footer',
      startElementSelector: '#btt-hook',
      fixClass: 'dl-sticky-banner--fixed'
  })
</script>
{% endblock bodyEndScripts %}