{% extends "layouts/layout.html" %}
{% block page_title %}Flask prototyping index{% endblock %}
{%- from "digital-land-frontend/components/feedback-panel/macro.html" import dlFeedbackPanel %}

{% block dl_breadcrumbs %}
{{ govukBreadcrumbs({
  "items": [
    {
      "text": "Data operations",
      "href": "/"
    },
    {
      "text": "Sources",
      "href": url_for('base.sources')
    },
    {
      "text": source['source']
    }
  ]
}) }}
{% endblock %}

{% block content %}

<main id="content" role="main">
  <span class="govuk-caption-xl">Source</span>
  <h1 class="govuk-heading-xl">{{ source['source'] }}</h1>

  <code>{{ source }}</code>
</main>
{% endblock %}



